In [6]:
import pandas as pd
import random

In [12]:
transactions_df = pd.read_csv('csv/transactions.csv')
posts_df = pd.read_csv('csv/posts.csv')
users_df = pd.read_csv('csv/users.csv')
interests_df = pd.read_csv('csv/interests.csv')

In [ ]:
print("Jumlah duplikasi:",  transactions_df['post_id'].duplicated().sum())

Jumlah duplikasi: 171

In [ ]:
transactions_df.drop_duplicates(subset=['post_id'], inplace=True)
print("Jumlah duplikasi:",  transactions_df['post_id'].duplicated().sum())

Jumlah duplikasi: 0

In [ ]:
total_rows = transactions_df.shape[0]
print("Total jumlah baris:", total_rows)

Total jumlah baris: 129

In [ ]:
posts_df['title'].value_counts()

title
Smartphone              32
Lemari                  28
Rak Buku                27
Kursi                   27
Sepeda                  24
Jam Tangan              23
Televisi                22
Laptop                  19
Kamera                  17
Meja                    13
Jasa Perawatan Hewan    11
Les Bahasa Inggris      11
Jasa Cuci Mobil          8
Jasa Kebersihan          7
Pelajaran Gitar          7
Jasa Tukang Kebun        6
Jasa Pindahan            6
Jasa Fotografi           5
Jasa Renovasi Rumah      4
Les Matematika           3
Name: count, dtype: int64

In [2]:
search_history_df = pd.read_csv('csv/search_history.csv')

In [6]:
search_history_df.sample(5)

      id  user_id          search
275  276      147      Jam Tangan
175  176      144          Sepeda
130  131      114           Kursi
185  186      256  Jasa Fotografi
219  220      134        Rak Buku

In [8]:
search_history_df.groupby(by='user_id').id.nunique().sort_values(ascending=False)

user_id
195    5
47     4
98     4
147    4
256    3
      ..
112    1
114    1
115    1
118    1
141    1
Name: id, Length: 194, dtype: int64

In [5]:
short_users_df = users_df.head(125)

path = 'csv/users_short.csv'

short_users_df.to_csv(path)

path

'csv/short_users.csv'

In [10]:
users_short_df = pd.read_csv('csv/users_short.csv')
random_users = users_short_df['id'].sample(n=125, replace=True).tolist()

posts_df['user_id'] = [random.choice(random_users) for _ in range(len(posts_df))]

output_posts_path = 'csv/posts_change.csv'
posts_df.to_csv(output_posts_path, index=False)

output_posts_path

'csv/posts_change.csv'

In [13]:
users_short_df = pd.read_csv('csv/users_short.csv')
random_users = users_short_df['id'].sample(n=125, replace=True).tolist()

interests_df['user_id'] = [random.choice(random_users) for _ in range(len(interests_df))]

output_interest_path = 'csv/interest_change.csv'
interests_df.to_csv(output_interest_path, index=False)

output_interest_path

'csv/interest_change.csv'