In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
posts_df = pd.read_csv('dataset/csv/posts.csv')
users_df = pd.read_csv('dataset/csv/users.csv')
interests_df = pd.read_csv('dataset/csv/interests.csv')

In [3]:
merged_df = interests_df.merge(posts_df, left_on='post_id', right_on='id', suffixes=('_interest', '_post'))

merged_df = merged_df.merge(users_df, left_on='user_id_interest', right_on='id', suffixes=('_post', '_user'))

merged_df = merged_df[['user_id_interest', 'post_id', 'title', 'description', 'type', 'status', 'city']]

merged_df['content'] = merged_df['title'] + ' ' + merged_df['description'] + ' ' + merged_df['type'] + ' ' + merged_df['status']

merged_df = merged_df[['user_id_interest', 'post_id', 'content', 'city']]

In [4]:
merged_df

,user_id_interest,post_id,content,city
0,279,199,Televisi Sebuah Televisi bekas Barang Tersedia,Salor
1,279,61,Kamera Sebuah Kamera bekas Barang Selesai,Salor
2,279,260,Smartphone Sebuah Smartphone bekas Barang Ters...,Salor
3,194,86,Smartphone Sebuah Smartphone bekas Barang Selesai,Banda Aceh
4,194,219,Kursi Sebuah Kursi bekas Barang Selesai,Banda Aceh
...,...,...,...,...
295,91,18,Laptop Sebuah Laptop bekas Barang Tersedia,Sorong
296,172,51,Rak Buku Sebuah Rak Buku bekas Barang Tersedia,Serang
297,197,95,Sepeda Sebuah Sepeda bekas Barang Tersedia,Pontianak
298,120,234,Meja Sebuah Meja bekas Barang Tersedia,Bandung
299,65,203,Kursi Sebuah Kursi bekas Barang Tersedia,Jakarta

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()

tfidf_matrix = tfidf_vectorizer.fit_transform(merged_df['content'])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

tfidf_df['user_id'] = merged_df['user_id_interest'].values
tfidf_df['post_id'] = merged_df['post_id'].values

tfidf_df

,bahasa,barang,bekas,buku,cuci,fotografi,gitar,hewan,inggris,jam,...,sebuah,selesai,sepeda,smartphone,tangan,televisi,tersedia,tukang,user_id,post_id
0,0.0,0.155002,0.155002,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.121724,0.000000,0.000000,0.000000,0.0,0.943091,0.218428,0.0,279,199
1,0.0,0.149055,0.149055,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.117054,0.186716,0.000000,0.000000,0.0,0.000000,0.000000,0.0,279,61
2,0.0,0.183929,0.183929,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.144440,0.000000,0.000000,0.918857,0.0,0.000000,0.259192,0.0,279,260
3,0.0,0.185239,0.185239,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.145469,0.232041,0.000000,0.925402,0.0,0.000000,0.000000,0.0,194,86
4,0.0,0.180735,0.180735,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.141932,0.226399,0.000000,0.000000,0.0,0.000000,0.000000,0.0,194,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.0,0.150665,0.150665,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.118318,0.000000,0.000000,0.000000,0.0,0.000000,0.212316,0.0,91,18
296,0.0,0.126985,0.126985,0.680361,0.0,0.0,0.0,0.0,0.0,0.0,...,0.099722,0.000000,0.000000,0.000000,0.0,0.000000,0.178948,0.0,172,51
297,0.0,0.185354,0.185354,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.145559,0.000000,0.917538,0.000000,0.0,0.000000,0.261200,0.0,197,95
298,0.0,0.145978,0.145978,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.114638,0.000000,0.000000,0.000000,0.0,0.000000,0.205712,0.0,120,234
299,0.0,0.179517,0.179517,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.140976,0.000000,0.000000,0.000000,0.0,0.000000,0.252975,0.0,65,203

In [6]:
n_users = len(users_df)
n_posts = len(posts_df)

tfidf_df = tfidf_df[tfidf_df['user_id'] < n_users]
tfidf_df = tfidf_df[tfidf_df['post_id'] < n_posts]

In [7]:
X = tfidf_df[['user_id', 'post_id']].values
X

array([[279, 199],
       [279,  61],
       [279, 260],
       [194,  86],
       [194, 219],
       [194,  31],
       [183,  86],
       [183, 290],
       [183, 139],
       [ 78,   8],
       [ 78, 297],
       [ 53, 298],
       [ 53, 142],
       [ 53, 246],
       [241, 298],
       [241,   5],
       [274, 298],
       [168, 298],
       [168, 227],
       [168,  57],
       [ 71,  41],
       [138,  41],
       [138, 246],
       [138,  12],
       [293,  41],
       [293, 125],
       [165,  41],
       [165,  83],
       [ 51, 196],
       [123, 196],
       [192, 196],
       [192, 286],
       [223, 196],
       [223,  13],
       [ 37, 162],
       [ 37, 295],
       [ 34, 162],
       [ 34,  33],
       [ 95,  23],
       [ 95, 182],
       [269,  23],
       [105,  23],
       [105,  80],
       [255, 184],
       [255,  55],
       [ 77, 184],
       [ 77, 266],
       [ 77, 173],
       [214, 184],
       [214, 104],
       [141, 185],
       [141, 106],
       [114,  37],
       [160,  37],
       [242, 288],
       [242,  64],
       [268, 288],
       [268,  67],
       [ 73, 163],
       [ 73, 243],
       [ 74, 163],
       [ 74, 254],
       [ 74,  70],
       [111, 163],
       [129, 163],
       [  9,  71],
       [ 46,  71],
       [294, 294],
       [ 23, 294],
       [291, 294],
       [291, 166],
       [291,  36],
       [297,  81],
       [257,  81],
       [257, 205],
       [257, 127],
       [ 79, 132],
       [ 79, 107],
       [112, 183],
       [ 69, 255],
       [ 69, 195],
       [ 63, 255],
       [ 63, 192],
       [148,  48],
       [148, 137],
       [ 97,  48],
       [ 97, 293],
       [238, 141],
       [238, 102],
       [238, 165],
       [ 80,  49],
       [ 99,  49],
       [ 60, 189],
       [189, 189],
       [189, 257],
       [189,   2],
       [  1,  64],
       [  1, 217],
       [261,  64],
       [261,  94],
       [261, 285],
       [261, 194],
       [224, 264],
       [ 92, 264],
       [ 92, 248],
       [155,  10],
       [155,  66],
       [ 19,  10],
       [ 82, 216],
       [181, 216],
       [181, 280],
       [286, 170],
       [110, 170],
       [218, 280],
       [218, 205],
       [218, 154],
       [ 48, 257],
       [ 48, 220],
       [ 38, 257],
       [287, 257],
       [273, 257],
       [273,   2],
       [150,  42],
       [256,  42],
       [256, 127],
       [199,  42],
       [199, 223],
       [  4, 155],
       [  4, 262],
       [275,  52],
       [166, 114],
       [130, 114],
       [130,  79],
       [130,  85],
       [  2, 114],
       [  2, 154],
       [ 35,  56],
       [ 35, 223],
       [ 54,  56],
       [126, 217],
       [200, 217],
       [211,  82],
       [230,  82],
       [135, 248],
       [135,  84],
       [ 81, 174],
       [ 86, 165],
       [276, 165],
       [163, 165],
       [163,  16],
       [ 52, 124],
       [ 52,  16],
       [ 39, 238],
       [ 39, 193],
       [227, 206],
       [  3, 265],
       [ 47, 265],
       [ 47, 204],
       [122,  69],
       [122,  13],
       [176,  38],
       [176, 262],
       [222,  38],
       [222, 171],
       [222, 116],
       [262, 279],
       [262, 233],
       [ 68, 279],
       [ 68,  53],
       [ 68,  36],
       [ 68, 225],
       [ 68, 232],
       [204, 156],
       [144, 156],
       [ 64, 156],
       [ 64, 135],
       [ 85,  28],
       [ 85, 191],
       [ 85, 168],
       [198, 108],
       [ 62, 271],
       [296, 177],
       [ 30,  58],
       [ 30,  46],
       [266, 192],
       [ 61, 192],
       [208, 144],
       [ 14, 144],
       [ 14, 128],
       [ 14,  26],
       [142, 243],
       [115, 142],
       [161, 142],
       [161, 276],
       [101, 142],
       [101,  99],
       [220, 266],
       [220, 166],
       [193, 266],
       [201, 266],
       [ 36,  97],
       [236,  67],
       [ 70, 140],
       [100, 247],
       [ 18,  63],
       [ 18, 159],
       [228,  63],
       [ 32,  63],
       [259, 154],
       [152, 113],
       [152, 113],
       [152,  91],
       [124, 113],
       [124, 146],
       [104, 219],
       [280, 182],
       [237, 269],
       [137, 269],
       [ 15, 198],
       [173, 268],
       [173, 143],
       [180,  99],
       [299,  13],
       [288,  13],
       [288, 112],
       [221,  15],
       [ 76, 262],
       [ 76, 221],
       [103, 262],
       [  8,   4],
       [248, 157],
       [248, 149],
       [ 25, 157],
       [284,  66],
       [282,  66],
       [ 33, 159],
       [ 33, 292],
       [267, 159],
       [  7, 240],
       [289, 106],
       [289,  72],
       [212,   1],
       [169,   1],
       [187, 242],
       [149, 110],
       [ 83, 110],
       [226, 139],
       [260, 237],
       [108,  53],
       [108, 109],
       [247, 143],
       [ 40, 236],
       [216, 193],
       [ 45, 193],
       [ 45,  46],
       [ 11, 193],
       [ 11, 289],
       [ 11,  72],
       [250,  46],
       [106, 253],
       [272, 246],
       [272,  47],
       [136, 278],
       [131, 235],
       [131, 214],
       [290,  47],
       [290,  92],
       [ 29, 126],
       [278, 258],
       [219, 176],
       [285, 211],
       [ 55, 209],
       [ 55, 225],
       [271,  43],
       [207,  88],
       [195, 276],
       [233, 276],
       [298, 202],
       [234, 231],
       [143, 252],
       [143, 148],
       [ 20,  80],
       [ 20, 200],
       [ 49, 287],
       [167, 151],
       [151, 267],
       [209, 101],
       [117, 222],
       [235,  50],
       [ 84,  11],
       [146,  91],
       [239,  74],
       [ 72, 119],
       [ 72, 153],
       [ 91,  18],
       [172,  51],
       [197,  95],
       [120, 234],
       [ 65, 203]])

In [8]:
post_freq = tfidf_df['post_id'].value_counts().to_dict()
tfidf_df['post_freq'] = tfidf_df['post_id'].map(post_freq)

y = tfidf_df['post_freq']
y

0      1
1      1
2      1
3      2
4      2
      ..
295    1
296    1
297    1
298    1
299    1
Name: post_freq, Length: 299, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print('> Train set posts: {}'.format(len(y_train)))
print('> Test set posts: {}'.format(len(y_test)))

> Train set posts: 239
> Test set posts: 60

In [10]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
y_train = scaler.fit_transform(y_train.values.reshape(-1, 1)).flatten()
y_test = scaler.transform(y_test.values.reshape(-1, 1)).flatten()

In [11]:
X_train

array([[183,  86],
       [ 30,  46],
       [ 61, 192],
       [ 86, 165],
       [192, 196],
       [138, 246],
       [ 45,  46],
       [268, 288],
       [267, 159],
       [151, 267],
       [199, 223],
       [103, 262],
       [ 49, 287],
       [ 11, 193],
       [122,  69],
       [221,  15],
       [112, 183],
       [ 46,  71],
       [197,  95],
       [161, 142],
       [296, 177],
       [168,  57],
       [ 68, 225],
       [ 69, 255],
       [ 80,  49],
       [130,  79],
       [297,  81],
       [241,   5],
       [ 78, 297],
       [ 47, 204],
       [288, 112],
       [ 23, 294],
       [299,  13],
       [ 34,  33],
       [274, 298],
       [287, 257],
       [278, 258],
       [219, 176],
       [294, 294],
       [261, 194],
       [291, 294],
       [192, 286],
       [204, 156],
       [163, 165],
       [288,  13],
       [218, 205],
       [168, 227],
       [198, 108],
       [  1,  64],
       [262, 279],
       [239,  74],
       [ 97, 293],
       [226, 139],
       [135, 248],
       [248, 149],
       [256, 127],
       [126, 217],
       [ 39, 238],
       [ 18,  63],
       [242,  64],
       [ 25, 157],
       [ 30,  58],
       [ 62, 271],
       [ 35, 223],
       [ 40, 236],
       [ 95,  23],
       [199,  42],
       [161, 276],
       [ 68, 279],
       [100, 247],
       [110, 170],
       [131, 214],
       [ 48, 220],
       [ 20, 200],
       [271,  43],
       [180,  99],
       [ 85,  28],
       [279, 260],
       [218, 154],
       [ 85, 191],
       [ 64, 135],
       [273, 257],
       [259, 154],
       [106, 253],
       [  4, 155],
       [257, 205],
       [123, 196],
       [148,  48],
       [272,  47],
       [ 19,  10],
       [117, 222],
       [ 83, 110],
       [247, 143],
       [ 91,  18],
       [248, 157],
       [  9,  71],
       [220, 266],
       [ 97,  48],
       [152,  91],
       [122,  13],
       [ 53, 142],
       [ 37, 295],
       [ 51, 196],
       [230,  82],
       [  8,   4],
       [143, 252],
       [ 68,  53],
       [141, 106],
       [189,   2],
       [228,  63],
       [ 15, 198],
       [105,  23],
       [238, 165],
       [280, 182],
       [ 35,  56],
       [165,  41],
       [ 72, 119],
       [211,  82],
       [193, 266],
       [279, 199],
       [ 29, 126],
       [ 55, 209],
       [261, 285],
       [250,  46],
       [ 45, 193],
       [ 68, 232],
       [261,  64],
       [ 34, 162],
       [ 74, 254],
       [ 52, 124],
       [282,  66],
       [ 36,  97],
       [289,  72],
       [ 53, 298],
       [172,  51],
       [290,  92],
       [165,  83],
       [169,   1],
       [194, 219],
       [150,  42],
       [223, 196],
       [ 70, 140],
       [222,  38],
       [ 76, 262],
       [ 11, 289],
       [ 54,  56],
       [ 74,  70],
       [  2, 154],
       [  4, 262],
       [ 84,  11],
       [183, 139],
       [291, 166],
       [131, 235],
       [129, 163],
       [255,  55],
       [284,  66],
       [ 47, 265],
       [269,  23],
       [256,  42],
       [207,  88],
       [237, 269],
       [ 39, 193],
       [138,  12],
       [272, 246],
       [181, 280],
       [ 63, 255],
       [ 32,  63],
       [124, 113],
       [ 95, 182],
       [  7, 240],
       [146,  91],
       [167, 151],
       [201, 266],
       [241, 298],
       [ 77, 173],
       [189, 257],
       [136, 278],
       [ 76, 221],
       [ 55, 225],
       [236,  67],
       [176, 262],
       [255, 184],
       [137, 269],
       [ 81, 174],
       [142, 243],
       [173, 143],
       [108, 109],
       [194,  86],
       [155,  10],
       [160,  37],
       [130,  85],
       [279,  61],
       [130, 114],
       [ 92, 264],
       [214, 104],
       [222, 171],
       [ 69, 195],
       [ 18, 159],
       [ 37, 162],
       [ 99,  49],
       [114,  37],
       [212,   1],
       [ 53, 246],
       [238, 102],
       [262, 233],
       [ 72, 153],
       [  2, 114],
       [209, 101],
       [187, 242],
       [242, 288],
       [141, 185],
       [ 64, 156],
       [ 14,  26],
       [120, 234],
       [ 14, 144],
       [ 68,  36],
       [ 73, 163],
       [214, 184],
       [ 33, 159],
       [216, 193],
       [138,  41],
       [176,  38],
       [233, 276],
       [115, 142],
       [ 11,  72],
       [163,  16],
       [166, 114],
       [ 52,  16],
       [261,  94],
       [238, 141],
       [104, 219],
       [273,   2],
       [ 65, 203],
       [ 71,  41],
       [ 14, 128],
       [291,  36],
       [155,  66],
       [285, 211],
       [224, 264]])

In [12]:
X_train_array = [X_train[:, 0], X_train[:, 1]]
X_test_array = [X_test[:, 0], X_test[:, 1]]

In [13]:
from tensorflow.keras import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, BatchNormalization, Concatenate, Dropout

def RecommenderNet(n_users, n_posts, embedding_size=128):
    user_input = Input(shape=(1,), name='user')
    user_embedding = Embedding(n_users, embedding_size, name='user_embedding')(user_input)
    user_flat = Flatten()(user_embedding)

    post_input = Input(shape=(1,), name='post')
    post_embedding = Embedding(n_posts, embedding_size, name='post_embedding')(post_input)
    post_flat = Flatten()(post_embedding)

    concat = Concatenate()([user_flat, post_flat])
    dense = Dense(128, activation='relu')(concat)
    dropout = Dropout(0.5)(dense)
    dense = Dense(64, activation='relu')(dropout)
    dropout = Dropout(0.5)(dense)
    dense = Dense(32, activation='relu')(dropout)
    output = Dense(1)(dense)

    model = Model(inputs=[user_input, post_input], outputs=output)
    model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mae', 'mse'])

    return model


model = RecommenderNet(n_users, n_posts)
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 user (InputLayer)           [(None, 1)]                  0         []

 post (InputLayer)           [(None, 1)]                  0         []

 user_embedding (Embedding)  (None, 1, 128)               38400     ['user[0][0]']

 post_embedding (Embedding)  (None, 1, 128)               38400     ['post[0][0]']

 flatten (Flatten)           (None, 128)                  0         ['user_embedding[0][0]']

 flatten_1 (Flatten)         (None, 128)                  0         ['post_embedding[0][0]']

 concatenate (Concatenate)   (None, 256)                  0         ['flatten[0][0]',
                                                                     'flatten_1[0][0]']

 dense (Dense)               (None, 128)                  32896     ['concatenate[0][0]']

 dropout (Dropout)           (None, 128)                  0         ['dense[0][0]']

 dense_1 (Dense)             (None, 64)                   8256      ['dropout[0][0]']

 dropout_1 (Dropout)         (None, 64)                   0         ['dense_1[0][0]']

 dense_2 (Dense)             (None, 32)                   2080      ['dropout_1[0][0]']

 dense_3 (Dense)             (None, 1)                    33        ['dense_2[0][0]']

==================================================================================================
Total params: 120065 (469.00 KB)
Trainable params: 120065 (469.00 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [14]:
history = model.fit(
    x=X_train_array,
    y=y_train,
    batch_size=64,
    epochs=20,
    verbose=1,
    validation_data=(X_test_array, y_test)
)

Epoch 1/20
4/4 [==============================] - 3s 176ms/step - loss: 0.1471 - mae: 0.2829 - mse: 0.1471 - val_loss: 0.1377 - val_mae: 0.2777 - val_mse: 0.1377
Epoch 2/20
4/4 [==============================] - 0s 50ms/step - loss: 0.1082 - mae: 0.2467 - mse: 0.1082 - val_loss: 0.1049 - val_mae: 0.2527 - val_mse: 0.1049
Epoch 3/20
4/4 [==============================] - 0s 56ms/step - loss: 0.0793 - mae: 0.2240 - mse: 0.0793 - val_loss: 0.0807 - val_mae: 0.2239 - val_mse: 0.0807
Epoch 4/20
4/4 [==============================] - 0s 55ms/step - loss: 0.0641 - mae: 0.2063 - mse: 0.0641 - val_loss: 0.0702 - val_mae: 0.2140 - val_mse: 0.0702
Epoch 5/20
4/4 [==============================] - 0s 51ms/step - loss: 0.0584 - mae: 0.2060 - mse: 0.0584 - val_loss: 0.0677 - val_mae: 0.2204 - val_mse: 0.0677
Epoch 6/20
4/4 [==============================] - 0s 29ms/step - loss: 0.0610 - mae: 0.2083 - mse: 0.0610 - val_loss: 0.0636 - val_mae: 0.2099 - val_mse: 0.0636
Epoch 7/20
4/4 [==============================] - 0s 28ms/step - loss: 0.0477 - mae: 0.1831 - mse: 0.0477 - val_loss: 0.0594 - val_mae: 0.1982 - val_mse: 0.0594
Epoch 8/20
4/4 [==============================] - 0s 37ms/step - loss: 0.0400 - mae: 0.1662 - mse: 0.0400 - val_loss: 0.0558 - val_mae: 0.1930 - val_mse: 0.0558
Epoch 9/20
4/4 [==============================] - 0s 58ms/step - loss: 0.0368 - mae: 0.1542 - mse: 0.0368 - val_loss: 0.0514 - val_mae: 0.1881 - val_mse: 0.0514
Epoch 10/20
4/4 [==============================] - 0s 36ms/step - loss: 0.0287 - mae: 0.1421 - mse: 0.0287 - val_loss: 0.0460 - val_mae: 0.1816 - val_mse: 0.0460
Epoch 11/20
4/4 [==============================] - 0s 40ms/step - loss: 0.0257 - mae: 0.1321 - mse: 0.0257 - val_loss: 0.0420 - val_mae: 0.1757 - val_mse: 0.0420
Epoch 12/20
4/4 [==============================] - 0s 53ms/step - loss: 0.0236 - mae: 0.1243 - mse: 0.0236 - val_loss: 0.0398 - val_mae: 0.1728 - val_mse: 0.0398
Epoch 13/20
4/4 [==============================] - 0s 66ms/step - loss: 0.0180 - mae: 0.1123 - mse: 0.0180 - val_loss: 0.0376 - val_mae: 0.1692 - val_mse: 0.0376
Epoch 14/20
4/4 [==============================] - 0s 64ms/step - loss: 0.0222 - mae: 0.1198 - mse: 0.0222 - val_loss: 0.0364 - val_mae: 0.1669 - val_mse: 0.0364
Epoch 15/20
4/4 [==============================] - 0s 54ms/step - loss: 0.0204 - mae: 0.1088 - mse: 0.0204 - val_loss: 0.0349 - val_mae: 0.1627 - val_mse: 0.0349
Epoch 16/20
4/4 [==============================] - 0s 73ms/step - loss: 0.0186 - mae: 0.1090 - mse: 0.0186 - val_loss: 0.0337 - val_mae: 0.1586 - val_mse: 0.0337
Epoch 17/20
4/4 [==============================] - 0s 44ms/step - loss: 0.0153 - mae: 0.1010 - mse: 0.0153 - val_loss: 0.0323 - val_mae: 0.1546 - val_mse: 0.0323
Epoch 18/20
4/4 [==============================] - 0s 58ms/step - loss: 0.0188 - mae: 0.1028 - mse: 0.0188 - val_loss: 0.0308 - val_mae: 0.1499 - val_mse: 0.0308
Epoch 19/20
4/4 [==============================] - 0s 59ms/step - loss: 0.0157 - mae: 0.0973 - mse: 0.0157 - val_loss: 0.0307 - val_mae: 0.1494 - val_mse: 0.0307
Epoch 20/20
4/4 [==============================] - 0s 69ms/step - loss: 0.0178 - mae: 0.1006 - mse: 0.0178 - val_loss: 0.0303 - val_mae: 0.1483 - val_mse: 0.0303

In [15]:
model.save('model.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [30]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import tensorflow as tf
from tensorflow.keras.models import load_model

posts_df = pd.read_csv('Datasets/csv/posts.csv')
users_df = pd.read_csv('Datasets/csv/users.csv')
interests_df = pd.read_csv('Datasets/csv/interests.csv')

merged_df = interests_df.merge(posts_df, left_on='post_id', right_on='id', suffixes=('_interest', '_post'))
merged_df = merged_df.merge(users_df, left_on='user_id_interest', right_on='id', suffixes=('_post', '_user'))
merged_df = merged_df[['user_id_interest', 'post_id', 'title', 'description', 'type', 'status', 'city']]
merged_df['content'] = merged_df['title'] + ' ' + merged_df['description'] + ' ' + merged_df['type'] + ' ' + merged_df['status']
merged_df = merged_df[['user_id_interest', 'post_id', 'content', 'city']]

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(merged_df['content'])
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
tfidf_df['user_id'] = merged_df['user_id_interest'].values
tfidf_df['post_id'] = merged_df['post_id'].values

n_users = len(users_df)
n_posts = len(posts_df)
tfidf_df = tfidf_df[tfidf_df['user_id'] < n_users]
tfidf_df = tfidf_df[tfidf_df['post_id'] < n_posts]

post_id_mapping = {post_id: i for i, post_id in enumerate(posts_df['id'])}
posts_df['mapped_post_id'] = posts_df['id'].map(post_id_mapping)

model = load_model('model/model.h5')

def recommend_posts_for_user(user_id, top_n=5):
    user_ids = np.array([user_id] * n_posts)
    post_ids = np.array([post_id_mapping[pid] for pid in posts_df['id']])

    predictions = model.predict([user_ids, post_ids])

    top_post_indices = predictions.flatten().argsort()[-top_n:][::-1]

    recommended_posts = posts_df.iloc[top_post_indices]
    recommended_posts = recommended_posts.merge(users_df, left_on='user_id', right_on='id', suffixes=('_post', '_user'))

    return recommended_posts[['id_post', 'title', 'description', 'type', 'city', 'username']]

if __name__ == "__main__":
    user_id_example = 3

    recommendations = recommend_posts_for_user(user_id_example, top_n=5)
    print("Top 5 post recommendations for user {}: \n{}".format(user_id_example, recommendations))

10/10 [==============================] - 0s 3ms/step
Top 5 post recommendations for user 3:
   id_post              title               description    type      city  \
0      258         Smartphone   Sebuah Smartphone bekas  Barang     Salor
1      197             Laptop       Sebuah Laptop bekas  Barang   Bandung
2      166              Kursi        Sebuah Kursi bekas  Barang   Kendari
3      263             Sepeda       Sebuah Sepeda bekas  Barang  Denpasar
4      194  Jasa Tukang Kebun  Sebuah Jasa Tukang Kebun    Jasa    Sofifi

  username
0   user37
1  user148
2   user36
3  user185
4  user188